:root {

  --sunset: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  --mainColor: #8E61FF;
  --lightShades:#F5F4EC;
  --darkShades:#33427E;
  --lightAccent:#A1AFCC;
  --darkAccent:#787AA1;
}


body {
  background: var(--mainColor);
  min-height: 200vh;
  margin: 0;
}

#contentContainer {
  display: flex;
  position: relative;
  z-index: 15;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  section{
    width: 80%;
    padding: 10px;
    color: var(--lightShades);
    border-radius: 10px;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}